extends layout

block content
  h1 Perfil de #{perfil.nombre}
  if error
    .error= error
  p Email: #{perfil.email}
  p Seguidores: #[span#followersCount #{seguidores}] | Siguiendo: #[span#followingCount #{seguidos}]
  if !esMiPerfil && usuarioId
    if yaSigo
      form(method='post' action=`/seguir/${perfil.id}/deshacer`)
        button#unfollow(type='submit') Dejar de seguir
    else
      form(method='post' action=`/seguir/${perfil.id}`)
        button#follow(type='submit') Seguir
  h2 Publicaciones
  each pub in publicaciones
    .publicacion
      h3= pub.titulo
      a(href=`/publicacion/${pub.id}`) Ver

  